/* Ok, I had to get some help from my sonshine! Sometimes a person has to make a note for themselves, people get too busy and forget the steps to take.*/
*{
  font-size: 100%
}
}
body {
  background-color: AliceBlue;
  color: DarkSlateBlue;
  font-family: Arial;
  font-size: 16px;
}
/* oh ya */
h1 {
  color: SteelBlue;
  font-family: 'Love Ya Like A Sister', cursive;
}

h2{
  font-family: 'Love Ya Like A Sister', cursive;
}
