/* Ok, I had to get some help from my sonshine! Sometimes a person has to make a note for themselves, people get too busy and forget the steps to take.*/
*{
  font-size: 100%;
}
}
body {
  background-color: AliceBlue;
  color: DarkSlateBlue;
  font-family: Arial;
  font-size: 18px;
}
/* oh ya */
h1 {
  color: SteelBlue;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

h2{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

p{
  line-height: 2;
}
