body {
  background-color: AliceBlue;
  color: DarkSlateBlue;
  font-family: Arial;
}

h1 {
  color: SteelBlue;
  font-family: 'Love Ya Like A Sister', cursive;
}

h2 {
  color: SteelBlue;
  font-family: 'Srisakdi', cursive;
}
